body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

.btn-start:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
}